* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 200;
  font-family: 'Saira Semi Condensed', sans-serif; }

/*Section Header*/
.navbar {
  background-color: rgba(102, 102, 102, 0.7); }
  .navbar .nav-item {
    margin-right: 15px; }
    .navbar .nav-item .nav-link {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 20px;
      color: #131313;
      transition: .4s; }
    .navbar .nav-item .nav-link:hover {
      color: white;
      transition: .4s; }

/*Footer*/
.footer {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr  1fr 1fr;
  background-color: rgba(102, 102, 102, 0.7); }
  .footer .footer__bar {
    display: grid;
    align-content: center; }
    .footer .footer__bar .bar__btn {
      margin-left: 10px;
      margin-top: auto;
      margin-bottom: auto; }
      .footer .footer__bar .bar__btn .btn__link {
        width: 30px;
        margin-top: 5px;
        font-size: 21px;
        transition: .3s;
        color: #131313;
        transition: .2s; }
      .footer .footer__bar .bar__btn .btn__link:hover {
        color: white;
        transition: .4s; }
  .footer .footer__copyright {
    display: grid;
    align-content: center; }
    .footer .footer__copyright .footer__copyright--text {
      margin-top: auto;
      margin-bottom: auto;
      font-weight: bolder;
      color: #131313; }
  .footer .footer__link {
    display: grid;
    align-content: center;
    margin-right: 20px;
    font-size: 20px; }
    .footer .footer__link .nick {
      text-decoration: none;
      transition: .2s;
      color: #131313;
      font-weight: bold; }
    .footer .footer__link .nick:hover {
      color: white;
      transition: .4s; }

/*Section Home*/
.sectionHome {
  height: 101vh;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url(../imagenes/1.jpg);
  display: grid;
  align-content: space-between;
  animation: change 30s infinite;
  -webkit-animation: change 30s infinite linear;
  -moz-animation: change 30s infinite linear;
  -o-animation: change 30s infinite linear;
  animation: change 30s infinite linear; }
  .sectionHome .container-img {
    display: grid;
    justify-content: center;
    margin-top: 20px; }
    .sectionHome .container-img .img--logo {
      width: auto; }
  .sectionHome .container__btn {
    display: grid;
    justify-content: center; }
    .sectionHome .container__btn .btn--home {
      width: 200px;
      height: 70px;
      background: none;
      box-shadow: none;
      border: 4px solid black;
      text-align: center;
      line-height: 60px;
      text-decoration: none;
      color: #252525;
      font-weight: 700;
      font-size: 25px;
      transition: .2s; }
    .sectionHome .container__btn .btn--home:hover {
      color: black;
      border: 4px solid white;
      background-color: white;
      transition: 0.4s; }

/*Section Galery*/
.main-galery {
  height: auto; }
  .main-galery .container__carousel {
    width: 80%;
    color: #111010;
    height: 500px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px; }
    .main-galery .container__carousel .carousel-inner {
      height: 500px; }
      .main-galery .container__carousel .carousel-inner .img {
        margin: auto;
        height: 500px;
        width: auto; }
  .main-galery .container__grid {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    grid-gap: 5px; }
    .main-galery .container__grid .box {
      width: 100%;
      height: 200px; }
      .main-galery .container__grid .box .img__item {
        width: 100%;
        height: 200px;
        object-fit: cover; }
        .main-galery .container__grid .box .img__item .item--5 {
          object-position: 80% 100%; }
        .main-galery .container__grid .box .img__item .item--6 {
          object-position: 100% 100%; }
        .main-galery .container__grid .box .img__item .item--7 {
          object-position: 90% 100%; }
    .main-galery .container__grid .box__link:hover {
      filter: opacity(0.9); }

/*Section Us*/
.main--us {
  width: 100%;
  height: 100vh;
  background-image: url(../imagenes/12.jpg);
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .main--us .text {
    width: 50%;
    height: auto;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px; }
    .main--us .text .text--title {
      text-transform: uppercase;
      text-decoration: underline;
      font-weight: 600;
      text-align: center;
      padding: 10px; }
    .main--us .text .text--parraf {
      font-weight: 400;
      font-size: 20px; }
    .main--us .text .text--image {
      width: 300px; }

/*Section Contact*/
.form {
  height: auto;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px; }
  .form .form__title {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500; }
  .form .form__mensaje {
    width: 100%;
    height: 180px;
    font-size: 18px;
    padding: 5px; }

.info__tile {
  text-align: center;
  font-weight: bolder; }

.contactList {
  margin-top: 50px; }
  .contactList .contact__item {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap; }
    .contactList .contact__item .item__text {
      margin-left: 10px;
      font-size: 20px;
      font-weight: 300; }
    .contactList .contact__item .item__icon {
      background-color: #6a6a79;
      width: 35px;
      height: 35px;
      font-size: 22px;
      line-height: 35px;
      text-align: center;
      color: lightgray;
      border-radius: 50%;
      box-shadow: 3px 3px 3px #a7a7b3; }

/*Animaciones*/
@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes change {
  0% {
    background-image: url(../imagenes/1.jpg); }
  20% {
    background-image: url(../imagenes/2.jpg); }
  40% {
    background-image: url(../imagenes/3.jpg); }
  60% {
    background-image: url(../imagenes/4.jpg); }
  80% {
    background-image: url(../imagenes/5.jpg); }
  100% {
    background-image: url(../imagenes/1.jpg); } }

/*Responive Style*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  /*Section Home*/
  .sectionHome {
    height: 700px; }
  /*Section Services*/
  .main--services {
    width: 100%; }
    .main--services .container--services {
      width: 100%; }
      .main--services .container--services .card {
        width: 100%; }
  /*Section Us*/
  .main--us {
    height: auto; }
    .main--us .text {
      width: 70%; }
  /*Section Galery*/
  .main-galery .container__carousel {
    width: 90%; }
    .main-galery .container__carousel .carousel-inner {
      height: 500px; }
      .main-galery .container__carousel .carousel-inner .img {
        width: 100%;
        height: 500px;
        object-fit: cover; }
      .main-galery .container__carousel .carousel-inner .img--06 {
        object-position: 100% 100%; }
  .main-galery .container__grid {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    grid-gap: 5px; }
    .main-galery .container__grid .box {
      width: 100%;
      height: 200px; }
      .main-galery .container__grid .box .img__item {
        width: 100%;
        height: 200px;
        object-fit: cover; }
      .main-galery .container__grid .box .item--6 {
        object-position: 100% 100%; }
  /*Footer*/
  .footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr); }
    .footer .footer__bar {
      display: grid;
      justify-content: center; }
      .footer .footer__bar .bar__btn {
        width: 240px; }
    .footer .footer__copuryght {
      display: grid;
      justify-content: center; }
    .footer .footer__link {
      display: grid;
      justify-content: center; } }

@media all and (max-width: 768px) {
  /*Section Home*/
  .sectionHome {
    height: 700px; }
  /*Section Galery*/
  .main-galery {
    width: 98%;
    height: auto;
    margin-left: auto;
    margin-right: auto; }
    .main-galery .container__carousel {
      width: 100%;
      height: 300px; }
      .main-galery .container__carousel .carousel-inner {
        height: 500px; }
        .main-galery .container__carousel .carousel-inner .img {
          width: 100%;
          height: 300px;
          object-fit: cover; }
        .main-galery .container__carousel .carousel-inner .img--01 {
          object-position: 75%; }
        .main-galery .container__carousel .carousel-inner .img--05 {
          object-position: 80% 100%; }
        .main-galery .container__carousel .carousel-inner .img--06 {
          object-position: 100% 100%; }
        .main-galery .container__carousel .carousel-inner .img--09 {
          object-position: 40% 100%; }
    .main-galery .container__grid {
      width: 95%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(4, 1fr);
      justify-items: center;
      grid-gap: 5px; }
      .main-galery .container__grid .box {
        width: 100%;
        height: 200px; }
        .main-galery .container__grid .box .img__item {
          width: 100%;
          height: 200px;
          object-fit: cover; }
        .main-galery .container__grid .box .item--6 {
          object-position: 100% 100%; }
  /*Serction Services*/
  .main--services {
    width: 100%; }
    .main--services .container--services {
      width: 100%; }
      .main--services .container--services .card {
        width: 100%; }
  /*Section Us*/
  .main--us {
    height: auto; }
    .main--us .text {
      width: 90%;
      display: grid;
      justify-content: center; }
      .main--us .text .text--image {
        margin-right: auto;
        margin-left: auto; }
  /*Footer*/
  .footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr); }
    .footer .footer__bar {
      display: grid;
      justify-content: center; }
      .footer .footer__bar .bar__btn {
        width: 240px; }
    .footer .footer__copuryght {
      display: grid;
      justify-content: center; }
    .footer .footer__link {
      display: grid;
      justify-content: center; } }

@media all and (max-width: 490px) {
  /*Section Home*/
  .sectionHome .container-img {
    display: grid; }
    .sectionHome .container-img .img--logo {
      width: 80%;
      margin-left: auto;
      margin-right: auto; }
  /*Section Us*/
  .main--us {
    height: 1280px; }
    .main--us .text {
      padding: 10px;
      width: 100%;
      display: grid;
      justify-content: center; }
      .main--us .text .text--image {
        width: 250px;
        margin-left: auto;
        margin-right: auto; } }
