/*Section Header*/

.navbar{
    background-color: rgba($color: #666666, $alpha: .7);
.nav-item {
    margin-right: 15px;
    .nav-link{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    color: rgb(19, 19, 19);
    transition: .4s;
    }
    .nav-link:hover{
        color: rgb(255, 255, 255);
        transition: .4s;
    }
}
}

/*Footer*/
.footer {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr  1fr 1fr;
    background-color: rgba($color: #666666, $alpha: .7);
    .footer__bar{
        display: grid;
        align-content: center;
        .bar__btn{
            margin-left: 10px;
            margin-top: auto;
            margin-bottom: auto;
            .btn__link{
                width: 30px;
                margin-top: 5px;
                font-size: 21px;
                transition: .3s;
                color: rgb(19, 19, 19);
                transition: .2s;
            }
            .btn__link:hover{
                color: rgb(255, 255, 255);
                transition: .4s;
            }
        }
    }
    .footer__copyright{
        display: grid;
        align-content: center;
        .footer__copyright--text{
            margin-top: auto;
            margin-bottom: auto;
            font-weight: bolder;
            color: rgb(19, 19, 19);
        }
    }
    .footer__link{
        display: grid;
        align-content: center;    
        margin-right: 20px;
        font-size: 20px;
        
        .nick {
            text-decoration: none;
            transition: .2s;
            color: rgb(19, 19, 19);
            font-weight: bold;
        }
        .nick:hover{
            color: rgb(255, 255, 255); 
            transition: .4s;
        }
    }
    

}