/*Responive Style*/

@media all and (min-width: 768px ) and (max-width:1023px){
    /*Section Services*/

    .main--services{
        width: 100%;
        .container--services{
            width: 100%;
            .card{
                width: 100%;
            }
        }
    }

    /*Section Us*/
    .main--us{
        height: 110vh;
        .text{
            width: 70%;
            .text--image{
            }
        }
    }
    /*Section Galery*/

    .main-galery{
        .container__carousel{
            width: 90%;
            .carousel-inner{
                height: 500px;
                .img {
                    width: 100%;
                    height: 500px;
                    object-fit: cover;
                }
                .img--06{
                    object-position: 100% 100%;
                }
               
            }
        }
        .container__grid {
            width: 90%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr 1fr;
            justify-items: center;
            grid-gap: 5px; 
            .box {
                width: 100%;
                height: 200px;
                .img__item {
                    width: 100%;
                    height: 200px;
                    object-fit: cover; 
                } 
                .item--6 {
                    object-position: 100% 100%; 
                }

            }
        }
    }
    /*Footer*/
    .footer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        .footer__bar {
            display: grid;
            justify-content: center;
            .bar__btn{
               width: 240px;
            }
        }
        .footer__copuryght{
            display: grid;
            justify-content: center;

        }
        .footer__link{
            display: grid;
            justify-content: center;
            
        }
    }
}
@media all and (max-width: 768px){

    /*Section Galery*/
    .main-galery{
        width: 98%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        .container__carousel{
            width: 100%;
            height: 300px;
            .carousel-inner{
                height: 500px;
                .img {
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                }
                .img--01{
                    object-position: 75%;
                }
                .img--05{
                    object-position: 80% 100%;
                } 
                .img--06{
                    object-position: 100% 100%;
                }  
                .img--09{
                    object-position: 40% 100%;
                } 
            }
        }
        .container__grid{
            width: 95%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(4, 1fr);
            justify-items: center;
            grid-gap: 5px; 
            .box{
                width: 100%;
                height: 200px;
                .img__item {
                    width: 100%;
                    height: 200px;
                    object-fit: cover; 
                } 
                .item--6{
                    object-position: 100% 100%;
                }
            }
        }
    }

    /*Serction Services*/
    .main--services{
        width: 100%;
        .container--services{
            width: 100%;
            .card{
                width: 100%;
            }
        }
    }

    /*Section Us*/
    .main--us{
        height: 110vh;
        .text{
            width: 90%;
            display: grid;
            justify-content: center;
            .text--image{
                margin-right: auto;
                margin-left: auto;
            }
        }
    }
    /*Footer*/
    .footer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        .footer__bar {
            display: grid;
            justify-content: center;
            .bar__btn{
               width: 240px;
            }
        }
        .footer__copuryght{
            display: grid;
            justify-content: center;

        }
        .footer__link{
            display: grid;
            justify-content: center;    
        }
    }
}
@media all and (max-width: 490px){
    /*Section Home*/
    .sectionHome{
        .container-img{
            display: grid;
            .img--logo{
                width: 80%;
                margin-left: auto;
                margin-right: auto;
        }
    }
}

    /*Section Us*/
    .main--us{
        height: 120vh;
        .text{
            width: 100%;
            display: grid;
            justify-content: center;
            .text--image{
                margin-right: auto;
                margin-left: auto;
            }
        }
    }
}