$ancho: 80%;
$alto: auto;

/*Section Us*/

.main--us{
    width: 100%;
    height: 100vh;
    background-image: url(../imagenes/12.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .text {
        width: 50%;
        height: auto;
        padding: 15px;
        background-color: rgba($color: #ffffff, $alpha: .7);
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 10px;
        .text--title {
            text-transform: uppercase;
            text-decoration: underline;
            font-weight: 600;
            text-align: center;
            padding: 10px; 
        }
        .text--parraf {
            font-weight: 400; 
            font-size: 20px;
        }
        .text--image{
            width: 300px;
        }
    }
}



